<div class="about-me-container">
  <div class="row">
    <div class="col about-me-description">
      <h2>Hi!</h2>
      <h2>I am <span class="primary-highlight">Souvik Nandi</span></h2>
      <!-- <h3 #aboutMeDesc class="secondary-highlight">Engineer</h3> -->
      <div class="description">
        <input class="passion-details" #aboutMeDesc type="text" value="" spellcheck="false" autofocus />
        <div class="input-overlay"></div>
      </div>
      <button class="explore-btn">Explore more <i class="fa-solid fa-angles-right explore-btn-icon"></i></button>
    </div>
    <div class="col about-me-image-container">
      <img class="image" src="assets/images/souvik-nandi-image-2.png" alt="Souvik Nandi" />
    </div>
  </div>
</div>
