<div class="souvik-portfolio-container">
  <div class="header">
    <app-navigation [disableAnimation]="!!isPageSelected"></app-navigation>
  </div>
  <div id="signature-loader" class="loader" [ngClass]="{ 'animation-disabled': !!isPageSelected }">
    <app-signature-loader [disableAnimation]="!!isPageSelected"></app-signature-loader>
  </div>
  <main class="main-container">
    <ng-container *ngIf="!isPageSelected && showLandingPage; else routerOutletContainer">
      <app-landing-page></app-landing-page>
    </ng-container>
  </main>
</div>

<ng-template #routerOutletContainer>
  <router-outlet></router-outlet>
</ng-template>
