.souvik-portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

  // background-color: #000000;
  // background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

  .loader {
    width: 800px;
    height: 300px;
  }
}
